# PF: TEGRA
# PFDESCR: NVIDIA Tegra platform
# PFDEPENDS: ARM

choice
	prompt "Tegra Platform"
	default PF_TEGRA2

config PF_TEGRA2
	bool "Tegra2"
	select CAN_ARM_CPU_CORTEX_A9
	select CAN_ARM_CACHE_L2CXX0
	depends on PF_TEGRA

config PF_TEGRA3
	bool "Tegra3"
	select CAN_ARM_CPU_CORTEX_A9
	select CAN_ARM_CACHE_L2CXX0
	depends on PF_TEGRA

config PF_TEGRAK1
	bool "TegraK1"
	select CAN_ARM_CPU_CORTEX_A15
	depends on PF_TEGRA

endchoice

choice
	prompt "Platform Timer"
	default PF_TEGRA_TIMER_MP

config PF_TEGRA_TIMER_MP
	bool "MP timer"
	help
	  ARM local-core multi-processor timer.

config PF_TEGRA_TIMER_TMR
	bool "TMR timer"
	help
	  Single broadcasting timer.

endchoice
